.navbar-brand {
    background:url(../img/seychelles.png) no-repeat;
    height:40px;
    margin-right:15px;
    margin-top:10px;
    margin-bottom:5px;
    text-indent:-9999em;
    width:40px
}

.navbar-inverse {
    background-color: #9eb343;
    border-radius: 0;
}

.navbar-inverse .navbar-nav > li > a {
    color: #333;
}

.jumbotron {
    background: url(../img/seychelles_beach_2.jpg);
    background-size: cover;
    color: #1867f0;
    padding: 40px 0 60px;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.4);
    margin-top: -10px
}

.jumbotron p {
    color: #111;
    font-weight: 400;
    margin-bottom: 0;
    text-shadow: none;
}

.jumbotron a {
    color: #fff;
}

#featured_header {
    width: 90%;
    margin: 0 auto;
}

#featured_data {
    text-align: center;
    width: 90%;
    margin: 0 auto;
}

.featured_section {
    width: 50%;
    float: left;
}

.featured_section h3 {
    margin: 5px 10px;
    padding: 5px;
}

.featured_dataset {
    float: left;
    width: 170px;
    margin: 5px 10px;
    padding: 5px;
}

.date_and_owner{
    color: #1867f0;
}

.thumb_map {
    height: 120px;
    border: 1px solid rgba(0, 0, 0, 0.8);
}

.thumb_layer {
    height: 120px;
    border: 1px solid rgba(0, 0, 250, 0.5);
}

.thumb_map:hover  {
    border: 2px solid #ff0000;
}

.thumb_layer:hover  {
    border: 2px solid #ff0000;
}

.copyright {
    width: 100%;
    text-align: center;
    color: #777;
    float: left;
}