.navbar-brand {
    background:url(../img/seychelles.png) no-repeat;
    height:40px;
    margin-right:15px;
    margin-top:10px;
    margin-bottom:5px;
    text-indent:-9999em;
    width:40px
}

.navbar-inverse {
    background-color: #9eb343;
    border-radius: 0;
}

.navbar-inverse .navbar-nav > li > a {
    color: #333;
}

.jumbotron {
    background: url(../img/seychelles_beach_2.jpg);
    background-size: cover;
    color: #1867f0;
    padding: 40px 0 60px;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.4);
    margin-top: -10px
}

.jumbotron p {
    color: #111;
    font-weight: 400;
    margin-bottom: 0;
    text-shadow: none;
}

.jumbotron a {
    color: #fff;
}

#featured_header {
    text-align: center;
}

#featured_data {
    text-align: center;
}

/*.featured_dataset{*/
    /*display: inline-block;*/
    /*margin: 5px 20px;*/
    /*padding: 5px;*/
    /*border: 1px solid #FFF;*/
    /*width: 220px;*/
/*}*/

.featured_dataset {
    float: left;
    width: 220px;
    margin: 5px 20px;
    padding: 5px;
}

.date_and_owner{
    color: #1867f0;
}

.thumb {
    height: 150px;
    border: 1px solid rgba(0, 0, 0, 0.5);
}

.thumb:hover {
    border: 2px solid #ff0000;
}